@model spbu.Models.DataKendaraan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Data kendaraan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NomorPlat" class="control-label">Nomor Plat</label>
                <input asp-for="NomorPlat" class="form-control" />
                <span asp-validation-for="NomorPlat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JumlahBbm" class="control-label">Jumlah BBM</label>
                <input asp-for="JumlahBbm" class="form-control" />
                <span asp-validation-for="JumlahBbm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
